<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link href="bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- http://localhost:8080/Prenotazioni_war_exploded/ -->


    <title>Login</title>
</head>
<body>
    <div id="page">
        <header>
            <h1>Prenotazioni</h1>
            <button v-if="role" id="btn-logout" class="btn btn-outline-light" v-on:click="logout">LOGOUT</button>
        </header>

        <!--<aside>
          <p>placeholder aside</p>
        </aside>-->

        <article>

            <div id="login_div" v-if="role == null">
               <form method="post">
                   <p><label>Username<input type = "text" id = "username" required/></label></p>
                   <p><label>Password<input type = "password" id = "password" required/></label></p>
                   <input class="btn btn-outline-dark"  v-on:click="login" type="button" value="LOGIN" id="login"/>
                   <br><input class="btn btn-outline-dark" v-on:click="guestLogin" id = "guest_login" type = "button" value = "Prosegui come ospite"/>
               </form>
            </div>

            <div id="div-prenotazioni-table" v-if="role">
                <label>Selezionare una materia</label>
                <select class="form-select" id="selectCorso" v-on:change="getDocenti" >
                    <option selected>Nessuna materia</option>
                </select>
                <label>Selezionare un docente</label>
                <select class="form-select" id="selectDocente" v-on:change="getPrenotazioniDocente">
                    <option selected>Nessun docente</option>
                </select>

                <table id="slotTable" class="table" >
                <caption>Per prenotare selezionare materia e docente e cliccare su un uno slot libero</caption>
                <thead class="thead-dark">
                <tr>
                    <td>Calendario</td>

                    <th scope="col" id="LUNEDI">LUNEDI</th>
                    <th scope="col" id="MARTEDI">MARTEDI</th>
                    <th scope="col" id="MERCOLEDI">MERCOLEDI</th>
                    <th scope="col" id="GIOVEDI">GIOVEDI</th>
                    <th scope="col" id="VENERDI">VENERDI</th>
                </tr>
                </thead>
                <tbody>
                <tr id="15-16">
                    <th scope="row">15-16</th>
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr id="16-17">
                    <th scope="row">16-17</th>
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr id="17-18">
                    <th scope="row">17-18</th>
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr id="18-19">
                    <th scope="row">18-19</th>
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
                </tbody>
                </table>
            </div>

            <hr v-if="isAuth()">

            <div id="div-prenotazioni-utente" style="visibility: hidden" v-if="isAuth()">
                <h2>Area personale</h2>
                <h3>Prenotazioni attive</h3>
                <table class="table" id="table-prenotazioni-utente">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codice</th>
                        <th scope="col">Giorno</th>
                        <th scope="col">Ora</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Azione</th>
                        <th scope="col">Azione</th>
                    </tr>
                    </thead>
                </table>

                <h3>Storico prenotazioni personali</h3>
                <table class="table" id="table-storico-utente">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codice</th>
                        <th scope="col">Giorno</th>
                        <th scope="col">Ora</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Stato</th>
                    </tr>
                    </thead>

                </table>
            </div>

            <hr v-if="isAmmAuth()">
            <div id="div-storico-amm" v-if="isAmmAuth()">
                <h2>Area amministratore</h2>
                <h3>Storico prenotazioni</h3>
                <table class="table" id="table-storico-amm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codice</th>
                        <th scope="col">Utente</th>
                        <th scope="col">Giorno</th>
                        <th scope="col">Ora</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Stato</th>
                    </tr>
                    </thead>

                </table>
            </div>

            <div id="div-db-amm" v-if="isAmmAuth()">

                <h3>Inserisci docente</h3>
                <div class="div_db_amm">
                    <form method="post">
                        <p><label>Nome<input type = "text" id = "nome_docente" required/></label></p>
                        <p><label>Cognome<input type = "text" id = "cognome_docente" required/></label></p>
                        <input class="btn btn-outline-dark"  v-on:click="inserisciDocente" type="submit" value="INSERISCI" id="inserisciDocenteBtn"/>
                    </form>
                </div>

                <h3>Inserisci corso</h3>
                <div class="div_db_amm">
                    <form method="post">
                        <p><label>Titolo<input type = "text" id = "titolo_corso" required/></label></p>
                        <input class="btn btn-outline-dark"  v-on:click="inserisciCorso" type="submit" value="INSERISCI" id="inserisciCorsoBtn"/>
                    </form>
                </div>

                <h3>Associa corso con docente</h3>
                <div class="div_db_amm">
                    <label>Selezionare una materia</label>
                    <select class="form-select" id="selectCorsoAmm" v-on:change="getDocentiAmm">
                        <option selected>Nessuna materia</option>
                    </select>
                    <label>Selezionare un docente</label>
                    <select class="form-select" id="selectDocenteAmm">
                        <option selected>Nessun docente</option>
                    </select>
                    <br><button id="btn-associa" class="btn btn-outline-dark" v-on:click="associa">ASSOCIA</button>
                </div>
            </div>

        </article>

        <!--<nav>
          <p>placeholder nav</p>
        </nav>-->



<footer></footer>
    </div>


   <script type="text/javascript" src="index.js"></script>
</body>
</html>