h1{
    color: white;
    font-weight: bold;
    position: relative;
    left: 0;
    top: 0;
}

#login_div{
    border: solid black;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div-prenotazioni-utente{
    /*width: 98%;*/
}

h2{
    margin-bottom: 2em;
}

hr{
    width: 100%;
}


header{
    float: top;
    clear: both;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 0.5em;
    text-align: left;
}

#btn-logout, #btn-login-header{
    position: absolute;
    right: 1em;
    top: 1em;

}

input{
    margin: 0.5em;
}

article{
    font-size: 1.2em;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    width: 98%;
    padding: 30px;
}

#div-db-amm{
    text-align: center;
    margin-top: 2em;
    display: inline-block;
    align-items: center;
}

.div_db_amm{
    border: solid black;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    horiz-align: center;
    flex-wrap: wrap;
    width: fit-content;
}

.div_db_amm_grid{
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3em;
    grid-auto-rows: minmax(auto, auto);
}

.div_db_amm_grid_el_assoc{
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.1em;
    grid-auto-rows: minmax(auto, auto);
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 1;
}

.div_db_amm_insert{
    border: solid black;
    margin-bottom: 1em;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
    horiz-align: center;
    height: 15em;
    width: fit-content;
}

.ins-corso{
    margin-top: 2em;
}

.wrapper{
    text-align: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-elimina-assoc{
    margin-top: 1em;
}